* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Oswald', sans-serif;
	overflow-x: hidden;
}
.gallery {
	position: relative;
	min-height: 100vh;
}
.gallery .title {
	position: absolute;
	top: 50%;
	left: 5%;
	transform-origin: 0 0;
	transform: rotate(-90deg) translateX(-50%);
}
.gallery h1 {
	font-size: 60px;
	color: #ecd73b;
	background-color: #111;
	padding: 10px 20px;
	margin-bottom: 15px;
	text-align: center;
}
.gallery .images {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	position: absolute;
	top: 5%;
	bottom: 5%;
	right: 5%;
	left: 35%;
}
.gallery a {
	position: relative;
	flex-basis: calc(50% - 40px);
	height: 20%;
	margin: 0 20px;
	background-color: black;
	overflow: hidden;
	box-shadow: 0 0 3px 3px grey;
}
img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
}
@media(max-width: 768px) {
	.gallery .title {		
		top: 0;
		left: 0;
		right: 0;
		transform: none;
	}
	.gallery h1 {
		font-size: 30px;		
		padding: 0;
		margin-bottom: 0;
	}
	.gallery .images {			
		top: 140px;
		bottom: 5px;
		right: 5px;
		left: 5px;
	}
	.gallery a {
		flex-basis: calc(50% - 40px);
		margin: 20px 20px;
	}	
}